<!-- list of categories  -->
<!-- 
All
Electronics
Computers
Mechanics
Aeronautics
Metallurgy -->
<div>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
        All
    </button>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
        Electronics
    </button>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
       Computers
    </button>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
        Mechanics
    </button>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
        Aeronautics
    </button>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
       Metallurgy
    </button>
</div>