.input-group-append {
    cursor: pointer;
}

.example-full-width {
    width: 100%;
}
.container{
    width: 55%;
    margin-top: 3%;
}
.button-div{
    text-align: center;
    margin-bottom: 30px;
}
.button-div button{
    width: 40%;
}
.radio-div{
    margin: 15px 0;
}
.radio-btn{
    margin-bottom: 7px;
}
.invalid{
    margin-bottom: 5px;
    color: red;
    font-size: 12px;
}